################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlayTechShop2024/v17
/src/.vs/PlayTechShop
/src/.vs/ProjectEvaluation
/.vs
/src/PlayTechShop.Domain/obj/Debug/net8.0/PlayTechShop.Domain.AssemblyInfo.cs
/src/PlayTechShop.Domain/obj/Debug/net8.0/PlayTechShop.Domain.AssemblyInfoInputs.cache
/src/PlayTechShop.Domain/obj/Debug/net8.0/PlayTechShop.Domain.assets.cache
/src/PlayTechShop.Domain/obj/Debug/net8.0/PlayTechShop.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/PlayTechShop.Domain/obj/PlayTechShop.Domain.csproj.nuget.dgspec.json
/src/PlayTechShop.Domain/obj/project.assets.json
/src/PlayTechShop.Domain/obj/project.nuget.cache
/src/PlayTechShop.Data/obj
/src/PlayTechShop.Domain/bin/Debug/net8.0
/src/PlayTechShop.Domain/obj/Debug/net8.0
/src/PlayTechShop.Data/bin/Debug/net8.0
/src/PlayTechShop.Service/bin/Debug/net8.0
/src/PlayTechShop.Service/obj
/src/PlayTechShop.CrossCutting/obj/Debug/net8.0
/src/PlayTechShop.CrossCutting/obj
