################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlayTechShop2024/v17
/src/.vs/PlayTechShop
